/* @import url("//unpkg.com/element-ui@2.15.13/lib/theme-chalk/index.css"); */
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    font-family: 'PT Serif', serif;
    background-color: #c7cec9;
}
/* Fonts */
.image-container {
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Change opacity by adjusting the alpha value */
  }  
 .under-container{
    position: absolute;
    top: 30%;
    left: 5%;
    
    overflow-y: auto; 
 }
 .transparent-card {
    background-color: transparent !important;
    border: none !important;
  }
  .testimonial-body {
   
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-y: scroll; */
}

.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    background-color: #3a752f9e;;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 10px;
    text-align: center;
}

.testimonial-content {
    margin-bottom: 20px;
}

.testimonial-author img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
}

.testimonial h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #0e7b00;
}

.testimonial p {
    margin: 0;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .testimonial-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .testimonial {
        width: 45%;
    }
}
.team-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.team-member {
  background-color: #46873E;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 20px;
  margin: 10px;
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.team-member img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.team-member h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #dc86fe;
}

.team-member p {
  color: #fff;
}

.hidden-info {
  display: none;
  margin-top: 10px;
}

.btn {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.875rem;
}

.btn:hover {
  background-color: #0056b3;
}
